<div class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">
      <div class="bs-component">
        <h2>
          <%= @event.title %>
          <small><%= link_to material_icon.mode_edit.md_18, edit_event_path(@event) %></small>
        </h2>
        <p class="lead"><%= @event.location %> @ <%= @event.date %></p>
      </div>
    </div>
  </div>
</div>