.navbar {
  .material-icons {
    vertical-align: middle;
    font-size: 20px;
  }
}

.container {
  min-height: 700px;
}

.page-footer {
  text-align: center;
  padding-top: 30px;
}

.alert {
  border-radius: 5px;
}

.loading {
  opacity: .7;
  .icon-wrapper {
    background-image: image-url('loading.gif');
    background-repeat: no-repeat;
    background-position: center center;
  }
}

td {
  &.numeric_field {
    text-align: right;
  }
}

a {
  &.icon-link:hover {
    text-decoration: none;
    .material-icons {
      opacity: .7;
    }
  }
}