// centering material icons within buttons
.btn.btn-fab i.material-icons,
.input-group-btn .btn.btn-fab i.material-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-12px, -12px);
}

.navbar-right {
  text-align: right;
}