.navbar {
}

.container {
  min-height: 700px;
}

.page-footer {
  text-align: center;
  padding-top: 30px;
}

.alert {
  border-radius: 5px;
}

a {
  &.icon-link:hover {
    text-decoration: none;
    .material-icons {
      opacity: .7;
    }
  }
}