// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-group {
  .list-group-item {
    .row-action-primary {
      i {
        font-size: 36px;
      }
    }
  }
}

.members {
  nav {
    text-align: right;
  }
  .list-group {
    .list-group-item {
      padding: 5px;
      border-radius: 5px;
      .row-content {
        .least-content {
          top: 10px;
        }
      }
      .loading {
        opacity: 0.7;
        .icon-wrapper {
          background-image: image-url('loading.gif');
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
      &.attended {
        background: #009688;
        color: #fff;
        .list-group-item-heading {
          color: #fff;
        }
        .icon-wrapper {
          background: none;
        }
        .row-content {
          .least-content {
            color: #fff;
          }
        }
      }
    }
  }
}