<div class="col-md-12">
  <div class="bs-component">
    <nav>
      <%= link_to new_member_path, class: 'btn btn-primary btn-fab' do %>
        <%= material_icon.add %>
      <% end %>
    </nav>
  </div>
</div>